/* Here is your custom css styles. */

/*加入卡片星星背景图片 可以自己选*/

.card {
	 background: url(https://codecheng-1305009997.cos.ap-chengdu.myqcloud.com/img/20210504193531.jfif) top;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(42, 89, 165, .1), 0 5px 15px rgba(71, 159, 188, .07) !important;
}
